 <h1>Create Listing</h1>
<%= form_for @listing do |f| %>

	<%= render partial: 'listings/form', object: f %>

	<%= f.fields_for :tags do |x| %>
		<%= x.label :property_type%>
		<%= x.select :property_type, ['Villa', 'Apartment', 'Room'], :include_blank => true %>
	<% end %>
	
	<div class="submit-field">
      <%= f.submit "Create NEW..."%>
    </div>
<% end %>